<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curriculum Vitate</title>
</head>
<body>
    <!-- ---------------------header -->
    <header style="display: flex;margin-left: 25%;">
        <h1>CURRICULUM <br>VITATE</BR></h1>
        <img src="../img/avatar_cv.png" alt="avatar_cv">
    </header>
    <!-- ----------------------------- -->
    <!-- content -->
    <div>
        <div style="margin-bottom: 35px;">
            <h2>Personal Infomation</h3>
            <table style="padding-left: 85px;" >
                <tr>
                    <td style="text-align: right;">Name</td>
                    <td style="padding-left: 12px;"> TRAN CONG AN</td>
                </tr>
                <tr  style="vertical-align: top;">
                    <td style="text-align: right;">Address</td>
                    <td style="padding-left: 12px;">College of Infomation and Communication teachnology <br> CanTho University</td>
                </tr>
                <tr>
                    <td style="text-align: right;">Telephone</td>
                    <td style="padding-left: 12px;">(+84)7103 831301</td>
                
                </tr>
                <tr>
                    <td style="text-align: right;">Email</td>
                    <td style="padding-left: 12px;">tcan@cit.ctu.edu.vn</td>
                </tr>
                <tr>
                    <td style="text-align: right;">Nationality</td>
                    <td style="padding-left: 12px;">Vietnamese</td>
                </tr>
                <tr>
                    <td style="text-align: right;">Date of birth</td>
                    <td style="padding-left: 12px;">23/12/1978</td>
                </tr>
            </table>
        </div>
        <div style="margin-bottom: 35px;">
            <h2>Education Qualification</h3>
           
            <table style="padding-left: 137px;">
                <tr style="vertical-align: top;">
                    <td style="text-align: right;"> 2013</td>
                    <td style="padding-left: 12px;"><b> PhD un Computer Science</b>, Massey University, New Zealand <br>Thesis title:"Symmertric Paralled Class Expression Learning"</td>
                </tr>
                <tr  style="vertical-align: top;">
                    <td style="text-align: right;">2007</td>
                    <td style="padding-left: 12px;"><b>MSc in Computer Science</b>, Asian Institute of Teachnology,Thailand <br>Thesis title:"Ontology and Reasoning for Descision Making in the Portfolio <br>
                        Approach to e-Procurement
                    </td>
                </tr>
                <tr  style="vertical-align: top;">
                    <td style="text-align: right;">2001</td>
                    <td style="padding-left: 12px;"><b>MSc in Computer Science</b>, CanTho University, Vietnam <br> Thesis title:"<i>Disk-quota management for WinNT OS"</i></td>
                </tr>
            </table>
        </div>
        <div style="margin-bottom: 35px;">
            <h2>Employment</h2>
            <table style="padding-left: 72px;" >
                <tr  style="vertical-align: top;">
                    <td style="text-align: right;">9/2001-Now</td>
                    <td style="padding-left: 12px;"><b>Lecturer</b> <br> Colege of Information and Communication Teachnology, CanTho University,<br>
                    VietNam</td>
                </tr>
                <tr  style="vertical-align: top;">
                    <td style="text-align: right;">7/2013-12/2013</td>
                    <td style="padding-left: 12px;"><b>Research Assistant</b><br>Massey University,NewZealand</td>
                </tr>
                <tr  style="vertical-align: top;">
                    <td style="text-align: right;">8/2007-11/2007</td>
                    <td style="padding-left: 12px;"><b>Research Assistant</b><br>ArguGRID Project, Asian Institule of Teachnology,Thailand</td>
                </tr>
                <tr  style="vertical-align: top;">
                    <td style="text-align: right;">9/2001-12/2002</td>
                    <td style="padding-left: 12px;"><b>Programmer/Project Manager</b><br>CanTho University Software Center(CUSC),CanTho University,Vietnam</td>
                </tr>
                <tr  style="vertical-align: top;">
                    <td style="text-align: right;">9/2001-5/2005</td>
                    <td style="padding-left: 12px;"><b>Invited Lecture</b><br>CanTho University Software Center(CUSC), CanTho University,Vietnam</td>
                </tr>
            </table>
        </div>

        <div>
            <h2>Grants & Awards</h2>
            <table style="padding-left: 105px;" >
                <tr  style="vertical-align: top;">
                    <td style="text-align: right;">2012</td>
                    <td style="padding-left: 12px;"><b>ECCAI Travel Grant</b> to the ECAI12 <br>The European Coordinating Committee for Artificial Intelligence(ECCAI)</td><
                </tr>
                <tr  style="vertical-align: top;">
                    <td style="text-align: right;">2008-2012</td>
                    <td style="padding-left: 12px;"><b>PhD Scholarship</b><br>Ministry of Education and Training of Vietnam</td>
                </tr>
                <tr  style="vertical-align: top;">
                    <td style="text-align: right;">2008-2013</td>
                    <td style="padding-left: 12px;"><b>Phd Research grant</b><br>Massey University, NewZealand</td>
                </tr>
                <tr style="vertical-align: top;">
                    <td style="text-align: right;">2007</td>
                    <td style="padding-left: 12px;"><b>The Hisamantsu Prize </b>for Outstansing Academic Performance in Field of <br>
                    Computer Science (batch 2005-2007) <br> Asian Institute of Teachnology, Thailand</td>
                </tr>
                <tr  style="vertical-align: top;">
                    <td style="text-align: right;">2005-2007</td>
                    <td style="padding-left: 12px;"> <b>MSc Scholarship</b><br>Ministry of Education and Training of Vietnam</td>
                </tr>
                <tr  style="vertical-align: top;">
                    <td style="text-align: right;">1998-2001</td>
                    <td style="padding-left: 12px;"><b>4 x Outstanding Undergraduate Student Award</b><br> CanTho University,Vietnam</td>
                </tr>

            </table>
        </div>

    </div>
    <!-- footer -->
    <footer style="margin-top: 35px;">
        <hr style="border-width: 2px; color: chocolate;">
      <i>Last updated: 2/2014</i>
    </footer>
</body>
</html>