<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mai Văn Đầy Study Result</title>
</head>
<style>
  
</style>
<body>
    <!-- header -->
    <header>
        <h1 style="color: chocolate;">Mai Văn Đầy Study Result</h1>
        <hr style="border-width: 2px; color: chocolate;">
        <div >
          
            <a href="../index.html" >Trang chủ</a></li>
            <a href="cv.html" style="margin-left: 20px;"> Curriculum Vitae</a></li>   
        </div>
        
    </header>
    <!-- content -->
    <div>
        <!-- conten1 -->
        <div>
            <h1 style="text-align: center;"> BẢNG ĐIỂM HỌC TẬP </h1>
            <ul style="list-style-type: circle;">
                <li> <b>Họ và tên:</b> Mai Văn Đầy</li>
                <li><b> Ngày tháng năm sinh:   </b>14/05/1999</li>
                <li><b> Nghành học:  </b>Mạng máy tính và truyền thông</li>
                <li><b> Khóa học:  </b>K43</li>
                <li><b> Năm bất đầu: </b>2017</li>
                <li><b> Hệ đào tạo:  </b>Chính quy</li>
                
            </ul>
        </div>
        <hr style="border-width: 2px; color: chocolate;">
        <!-- end conten1 -->
        <!--  ------------------------------ -->
        <div style="text-align: center;">
          <h3 style="text-align: center;">KẾT QUẢ HỌC TẬP</h3>
          <table border="2" style="text-align: center;width: 800px;margin: 2% 25%;">
              <tr>
                     <tr>
                        <th colspan="6" style="background-color: chocolate;"> Học kì 1 - Năm học 2017-2018 </th>
                     </tr>
                    <th rowspan="2">STT</th>
                    <th rowspan="2">MÃ HP</th>
                    <th rowspan="2">Tên học phần</th>
                    <th rowspan="2">Số TC</th>
                    <th colspan="2">Điểm học phần</th>
                </tr>
                <tr>
                    <th>Thang 10</th>
                    <th>Điểm số</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td style="text-align: left;">CT174</td>
                    <td style="text-align: left;">Lập trình hướng đối tượng C++</td>
                    <td>3</td>
                    <td>7</td>
                    <td>B</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td style="text-align: left;">CT170</td>
                    <td style="text-align: left;">Hệ điều hành</td>
                    <td>3</td>
                    <td>7</td>
                    <td>B</td>
                    
                </tr>
                <tr>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                </tr>
                <tr>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                </tr>
                <tr >
                    <th colspan="4">  <i>Điểm trung bình học kỳ</i></th>
                    <td><b>2.07</b></td>
                    <td><b>C</b></td>
                </tr>
          </table>
          <!-- hoc ki 2 -->
          <table border="2" style="text-align: center;width: 800px;margin: 2% 25%;">
            <tr>
                   <tr>
                      <th colspan="6" style="background-color: chocolate;"> Học kì 2 - Năm học 2017-2018 </th>
                   </tr>
                  <th rowspan="2">STT</th>
                  <th rowspan="2">MÃ HP</th>
                  <th rowspan="2">Tên học phần</th>
                  <th rowspan="2">Số TC</th>
                  <th colspan="2">Điểm học phần</th>
              </tr>
              <tr>
                  <th>Thang 10</th>
                  <th>Điểm số</th>
              </tr>
              <tr>
                  <td>1</td>
                  <td style="text-align: left;">CT428</td>
                  <td style="text-align: left;">Lập tinh Web</td>
                  <td>3</td>
                  <td>7</td>
                  <td>B</td>
              </tr>
              <tr>
                  <td>2</td>
                  <td style="text-align: left;">CT434</td>
                  <td style="text-align: left;">An ninh toàn hệ thống và an ninh mạng</td>
                  <td>3</td>
                  <td>7</td>
                  <td>B</td>
                  
              </tr>
              <tr>
                  <td>...</td>
                  <td>...</td>
                  <td>...</td>
                  <td>...</td>
                  <td>...</td>
                  <td>...</td>
              </tr>
              <tr>
                  <td>...</td>
                  <td>...</td>
                  <td>...</td>
                  <td>...</td>
                  <td>...</td>
                  <td>...</td>
              </tr>
              <tr >
                  <th colspan="4"><i>Điểm trung bình học kỳ</i></th>
                  <td><b>2.07</b></td>
                  <td><b>C</b></td>
              </tr>
        </table>
        </div>
        <!-- end conten2 -->
        <!-- ----------------------------------------------------------- -->
        <!-- content3 -->
        <div>
            <ul>
                <li><i>Tổng số môn học tích lũy:</i> <b>155</b></li>
                <li><i>Tổng số môn học tích lũy:</i> <b>96</b></li>
                <li><i>Điểm trung bình tích lũy:</i> <b>2.5(C)</b></li>
                <li><i>Số môn học còn nợ:</i> <b> <i>Không</i></b></li>
                <li><i>Số tính chỉ còn nợ:</i> <b><i>không</i></b></li>
                <li><i>Điểm tốt nghiệp:</i> <b><i>Chưa có</i></b></li>

            </ul>
        </div>
    </div>
   

    <!-- footer -->
    <footer style="margin-top: 25px;">
        <hr style="border-width: 2px; color: chocolate;">
        <i>Last update:06/03/2020</i>
   </footer>
</body>
</html>