<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Hướng đẫn cách nấu canh chua</title>
    <style>
        .wrapper{
            width: 700px;
            margin: 3px 25%;
            background-color:mistyrose;
            padding: 5px 25px;
        }
        .wrapper h1{
            padding-left: 232px;
        }
    </style>
</head>
<body style="background-image: url(../img/bg_canhchua.jpg")>
    <div class="wrapper" >
        <header>
            <h1 >CANH CHUA CÁ LÓC</h1>
            <img src="../img/canhchuacaloc.jpg" alt="ảnh minh họa canh chua cá lóc">
        </header>
        <!-- content -->
        <div class="content">
            <div>
                <ul>
                    <li>Khẩu phần: 4 người</li>
                    <li>Thời gian chuẩn bị: 25 phút</li>
                    <li>Thời gian nấu: 20 phút</li>
                    <li>Giá thành: 100.000 đồng</li>
                </ul>
            </div>
            <hr>
            <div>
                <h3 style="text-decoration-line: underline;">NGUYÊN LIỆU</h3>
                <ul style="list-style-type:circle">
                    <li>Cá lóc: 1 con khoảng 700-800g</li>
                    <li>Thơm: 1/4 quả</li>
                    <li>Cà chua: 2 quả</li>
                    <li>Đậu bắp: 5 quả</li>
                    <li>Dọc mùng: 2 nhánh</li>
                    <li>Giá đậu: 100g</li>
                    <li>Me chua chín: 50g</li>
                    <li>Rau thơm nấu canh chua gồm: hành lá, rau ngổ</li>
                    <li>Gia vị: hành khô, tỏi, muối, hạt nêm, nột ngọt, đường, nước mắm, dầu ăn.</li>
                </ul>
            </div>
            <hr>
            <div>
                <h3 style="text-decoration-line: underline;">THỰC HIỆN</h3>
                <ol>
                    <li>Sơ chế nguyên liệu:
                        <ul>
                            <li>Hành khô, tỏi: làm sạch, băm nhuyễn.</li>
                            <li>Cá lóc: làm sạch, thái lát vừa ăn, cứa nhẹ trên mỗi lát để cá thấm gia vị. Ướp cá với 1/2 <br>
                               thìa hành tỏi băm nhuyễn, 1 thìa hạt nêm, 1/2 thìa nước mắm, 1/2 thìa bột ngọt, 1/2 thìa <br>
                               dầu ăn, 1/2 thìa tiêu để khoảng 15-20 phút.
                            </li>
                            <li>Khóm, đậu bắp; làm sạch, cắt lát xéo dài.</li>
                            <li>Cà chua: bổ cau.</li>
                            <li>Bạc hà: tước vỏ, cắt lát mỏng, bóp qua với một chút muối, rửa sạch, chần nhẹ với nươc <br>
                                sôi, để ráo.
                            </li>
                            <li>Giá đậu: rửa sạch, để riêng</li>
                            <li>Rau thơm: rửa sạch, thái mịn</li>
                            <li>Me chua chín: ngâm với nước âm, bỏ hạt.</li>
                        </ul>
                    </li>
                        
                    <li>Thực hiện nấu:
                        <ul>  
                            <li>Phi thơm hành tỏi băm nhuyễn với dầu ăn</li>
                            <li>Cho cá vào đảo nhẹ rồi cho nước vào nấu canh, cho thêm nước me chua và thơm vào <br>
                                (có thể cho thêm nước xương hầm để canh thêm ngọt).
                            </li>
                            <li>Đến khi nước sôi, dùng thìa lớn vớt hết bọt phía trên để nước canh được trong.</li>
                            <li>Nước sôi khoảng 3 phút, cá sắp chín, cho cà chua, đậu bắp, dọc mùng, giá đậu vào.</li>
                            <li>Nêm thêm 1/4 thìa  muối, 1/2 thìa đường, 1 thìa hạt nêm, 1/2 thìa bột ngọt sao cho vừa <br> ăn</li>
                            <li>Khi thấy canh đã chín tới, tắt bếp, cho rau thơm vào.</li>
                        </ul>
                    </li>
                </ol>
                <p>Đây là công thức nấu món canh chua do cụn <b style="text-decoration-line: underline;">Google</b> tổng hợp. Công thức nấu đã được
                    kiểm <br> nghiệm và yêu thích bởi nhiều người. Chúc các bạn chế biến thành công và ăn ngon miệng.</p> 
            </div>
            <hr>
            <div>
                <h3 style="text-decoration-line: underline;">PHẢN HỒI CỦA NGƯỜI DÙNG</h3>
                <p>
                    Q: Thế nào là "bổ cau"?<br>A: Là bổ ra giống như bổ trái cau: bổ trái cà theo chiều từ trên cuống xuống làm 4, 6 hay8 <br>
                    phần tùy kích thước quả cà và ý thích.
                </p>
                <p><b><i>Emily</i></b></p>
                <p>
                    Q: Cám ơn tác giả, món ăn ngon quá, nhưng em nấu theo không được!:) <br>A: Chúc mừng bạn!
                </p>
                <p><i><b>-Funny boy</b></i></p>
                <p>
                    Q: Tác giả ơi, bạc hà là loại rau cải gì thế? <br> A: Bạc hà là một loại rau có hình dạng giống cây khoai môn,
                    ở miền Bắc gọi là dọc mùng.
                </p>
                <p><i><b>-Guest.</b></i></p>
            </div>
            <hr>
        </div>
        <!-- footer -->
        <footer>
           <a href="#">LIÊN KẾT</a> <br>
           <a href="#">Tìm kiếm các cách nấu canh chua khác</a><br>
           <a href="../index.html" target="_blank">Về trang chủ</a>
        </footer>
    </div>
</body>
</html>